<div class="container">
  <div class="row">
    <div class="col md-6">
      <h1 class="display-1">Digital Dairy</h1>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for=""></label>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Help text</small>
      </div>
      <input class="btn btn-primary btn-block" type="submit" value="Login">
    </div>
  </div>
</div>