




<h2 mat-dialog-title fxLayoutAlign="space-around center">Edit Employee</h2>

<section mat-dialog-content>

  <app-add-edit-form></app-add-edit-form>


  <div fxLayout="row" fxLayoutAlign="space-around center">

    <button disabled *ngIf="!addEditForm.addEditEmployeeForm.valid"  mat-raised-button color="primary">Add Employee</button>
    <button *ngIf="addEditForm.addEditEmployeeForm.valid" mat-raised-button (click)="update(addEditForm.addEditEmployeeForm.value)"  mat-raised-button color="primary">Update Employee</button>  
    <button mat-raised-button (click)="dialogRef.close(true)">Cancel Edit </button>
  </div>

  <br><br>

</section>

<br><br>

<div mat-dialog-actions fxLayoutAlign="space-around center">

  <button mat-dialog-close md-raised-button (click)="dialogRef.close()" mat-stroked-button color="primary" >Exit</button>

</div>


