

<!-- <section fxLayout="row wrap" fxLayoutAlign="center center"> -->
  <mat-card fxFlex="90%" fxFlex.xs="100%">        
                               
         
    <mat-card-title>Add Cattle</mat-card-title>
    <mat-card-content >
    <!-- <!-- <as-split direction="horizontal">
        <as-split-area size="40">  -->
      <form [formGroup]="employeeForm" autocomplete="off" novalidate (ngSubmit)="createEmployee(employeeForm.value)" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="30px">
      
        <table>    
          <tr> 
            <td>
              <mat-form-field class="form-full-width" >
                <input matInput type="text" placeholder="Name of Employee" formControlName="name" id="name">
                <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
              </mat-form-field>
            </td>   
            <td>
              <mat-form-field class="form-full-width">
                <input matInput type="number" placeholder="Employee Id" formControlName="id" id="id">
                <mat-hint align="end">Not more than 12 digits long.</mat-hint>
              
              </mat-form-field>
            </td>            
          </tr>

          <tr>
            <td colspan="2">
              <mat-form-field class="form-full-width">
                <input matInput type="email" placeholder="Email" formControlName="email" id="email">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="form-full-width">
                <input matInput type="number" placeholder="Phone Number" formControlName="phoneNumber" id="phoneNumber">
              </mat-form-field>
             </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="form-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date of employment" formControlName="dateOfEmployment" id="dateOfEmployment"
                    readonly (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>                
                <mat-radio-group>   
                 
                    <mat-radio-button value="1">Enable Account</mat-radio-button>                        
                </mat-radio-group>    
            </td>
            <td>
              <mat-select placeholder="Select Role" [(value)]="selected">    
                  <mat-option>-- Role --</mat-option>    
                  <mat-option value="1">Admin</mat-option>    
                  <mat-option value="2">employee</mat-option>                 
              </mat-select> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-card-actions align="center">
                  <button mat-raised-button color="primary" [disabled]="!employeeForm.valid">Create</button>
                  <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
              </mat-card-actions>
            </td>
          </tr>
        </table>
      </form> -->
    <!-- </as-split-area> -->
    <!-- <as-split-area size="60">
      sderftyui  
    </as-split-area>
  </as-split> -->
    </mat-card-content>
 
  </mat-card>
<!-- </section> -->

 